.passwordGenerator {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: space-between;
	padding: 40px;

	h1 {
		 font-size: 2.5rem;
		 font-weight: bold;
	}

	.leftColumn {
		 width: 45%;

		 .lengthLabel {
			  display: block;
			  margin-bottom: 10px;
			  font-size: 1.2rem;
			  color: #333;
		 }

		 input[type="text-field"] {
			  width: 600px; 
			  height: 44px;
			  padding: 5px 10px;
			  border: 1px solid #ccc;
			  border-radius: 5px;
			  font-size: 1.1rem;
			  margin-bottom: 20px;
			  transition: border-color 0.3s ease;
			  -webkit-appearance: none;
			  -moz-appearance: textfield;
			  appearance: none;

			  &.invalidInput {
					border-color: #ff6b6b;
			  }

			  &::-webkit-outer-spin-button,
			  &::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
			  }
		 }

		 .checkboxes {
			  margin-top: 20px;
			  label {
					display: flex;
					align-items: center;
					margin-bottom: 10px;
					font-size: 1.1rem;
					cursor: pointer;

					input {
						 margin-right: 10px;
						 transform: scale(1.2);
						 accent-color: #3B75A2; 
					}
			  }
		 }

		 .generateButton {
			  margin-top: 20px;
			  padding: 10px 20px;
			  background-color: #3B75A2;
			  border: none;
			  border-radius: 5px;
			  color: white;
			  font-size: 1.2rem;
			  cursor: pointer;
			  transition: background-color 0.3s ease;

			  &:hover {
					background-color: #305e81;
			  }
		 }
	}

	.rightColumn {
		 width: 50%;
		 padding: 115px;

		 .passwordList {
			  list-style-type: none;
			  padding: 0;

			  .passwordItem {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 10px;
					margin: 5px;
					border: 1px solid #ccc;

					.passwordText {
						 font-size: 1.2rem;
						 font-family: monospace;
					}

					.copyButton {
						 background-color: #3B75A2;
						 color: white;
						 border: none;
						 padding: 5px 10px;
						 border-radius: 5px;
						 cursor: pointer;
						 font-size: 1.1rem;
						 display: flex;
						 align-items: center;

						 &:hover {
							  background-color: #305e81;
						 }

						 i {
							  margin-left: 5px;
						 }
					}
			  }
		 }
	}
}

@media (max-width: 768px) {
	.passwordGenerator {
		 flex-direction: column; 
		 padding: 20px; 

		 .leftColumn {
			  width: 100%; 
			  padding: 0; 

			  input[type="text-field"] {
					width: 100%; 
			  }
		 }

		 .rightColumn {
			  width: 100%; 
			  padding: 20px 0;
		 }

		 .passwordList {
			  .passwordItem {
					flex-direction: column; 
					align-items: flex-start;
			  }
		 }
	}
}
